package {{packageName}};

import org.junit.Test;
import static org.junit.Assert.*;

public class LibraryTest {
    @Test
    public void shouldReturnGreeting() {
        Library lib = new Library();
        assertEquals("Hello, {{projectName}}!", lib.getGreeting());
    }
}


